<template>
  <transition @before-enter="beforeEnter" @enter="enter" @after-enter="afterEnter">
    <div class="ball" v-show="ballFlag" ref="ball"></div>
  </transition>

  <!-- <button @click="processingPlayback([0, 50], [100, 100])">测试动画</button> -->
</template>

<script>
export default {
  data() {
    return {
      ballFlag: false,
      startPosition: [],
      endPosition: []
    };
  },

  methods: {
    // 传入开始位置, 和结束位置
    processingPlayback(startPosition, endPosition) {
      this.startPosition = startPosition;
      this.endPosition = endPosition;
      this.$nextTick(() => {
        this.play();
      });
    },
    play() {
      // 开始位置
      const [top, left] = this.startPosition;
      this.$refs.ball.style.top = `${top}px`;
      this.$refs.ball.style.left = `${left}px`;

      this.ballFlag = !this.ballFlag;
    },
    // 动画钩子函数
    // 进入前状态
    beforeEnter(el) {
      el.style.transform = "translate(0,0)";
    },
    // 进入中
    enter(el, done) {
      // 需要调用元素的offset操作,才有过渡的效果,否则会马上实现过渡
      el.offsetWidth;
      // 结束位置
      const [y, x] = this.endPosition;
      console.log("--------------------");
      console.log("Y:", y);
      console.log("X:", x);
      console.log("--------------------");
      el.style.transform = `translate(${y}px,${x}px)`;
      el.style.transition = "all 0.5s cubic-bezier(.6,-0.3,1,.68)";
      done();
    },
    // 进入后
    afterEnter() {
      this.ballFlag = !this.ballFlag;
    }
  }
};
</script>

<style scoped lang="less">
.ball {
  position: absolute;
  z-index: 99;
  width: 17px;
  height: 17px;
  background-color: #ee8131;
  border-radius: 50%;
  top: 0;
  left: 0;
}
</style>
