<template>
  <div class="GoodsList"></div>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  name: "GoodsList",
  data() {
    return {};
  },
  created() {}
});
</script>

<style lang="less" scoped></style>
