<template>
  <div class="MerchantAnalysis">
    <!-- 客户量统计 -->
    <UserStats />
    <!-- 订单数据统计 -->
    <OrderStats />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import OrderStats from "@/components/MerchantAnalysis/OrderStats.vue";
import UserStats from "@/components/MerchantAnalysis/UserStats.vue";

export default Vue.extend({
  components: { OrderStats, UserStats },
  data() {
    return {};
  },
  created() {},
  mounted() {},
  methods: {}
});
</script>

<style lang="less" scoped>
.MerchantAnalysis {
  min-height: 100vh;
  background: #f2f2f2;
}
</style>
