<template>
  <!-- This page should no rem transformation -->
  <div class="my_shop" :class="{ prevent: isShowShoppingCartList }">
    <!-- 顶部提示 -->
    <div class="top_tips text_ell" v-if="showTips">
      <p>商品均由UU跑腿提供帮买服务，一切商业行为与该品…</p>
      <img src="@/assets/img/shopImgs/top-提示关闭.png" @click="showTips = false" />
    </div>

    <!-- 店铺信息资料 -->
    <div class="shop_info" ref="shopInfo">
      <div class="shop_profile">
        <div class="left_box">
          <p class="name text_ell">{{ shopInfo.MerchantName }}</p>
          <div class="details">
            <span>月销{{ shopInfo.Sale }}</span>
            <span>距离我{{ shopInfo.Distance }}m</span>
          </div>
        </div>
        <div class="pic">
          <img :src="shopInfo.MerchantThumbnail" />
        </div>
      </div>
      <p class="business_hours">
        营业时间：
        {{ shopInfo.BusinessStartTime }}
        -
        {{ shopInfo.BusinessEndTime }}
        ，请在营业时间内下单，否则因店铺关门而取消订单引起的白跑费需自行承担
      </p>
      <div class="explain">
        <img src="@/assets/img/shopImgs/购买流程@2x.png" alt="" />
      </div>
    </div>

    <!-- 商品列表 -->
    <div class="goods_list" ref="goodsList">
      <div class="list_box">
        <div class="left_c">
          <template v-for="(item, index) in shopInfo.GoodsCategoryList">
            <div
              :class="{ active: item.isActive }"
              class="left_item"
              :key="index"
              @click="choice(item)"
            >
              <p class="name">{{ item.Name }}</p>
              <p class="count" v-if="calculationCount(item)">{{ calculationCount(item) }}</p>
            </div>
          </template>
        </div>

        <div class="right_c" ref="gList">
          <div v-for="(item, i) in shopInfo.GoodsCategoryList" :key="i" :ref="item.CategoryId">
            <div class="right_item" v-for="(cItem, index) in item.GoodsList" :key="index">
              <div class="goods_pic"><img :src="cItem.GoodsPicUrl" alt="" /></div>
              <div class="goods_info">
                <p class="goods_name">
                  {{ cItem.GoodsName }}
                </p>
                <div class="operation">
                  <div class="price">
                    参考价 <span class="q">¥</span>
                    <span class="goods_price">{{ cItem.GoodsPrice }}</span>
                  </div>
                  <div class="op">
                    <img class="r" src="@/assets/img/shopImgs/按钮/减.png" @click="reduce(cItem)" />
                    <span>
                      {{ cItem.GoodsCount }}
                    </span>
                    <img
                      class="a"
                      src="@/assets/img/shopImgs/按钮/加.png"
                      @click="add(cItem, $event)"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 购物车列表 -->
    <div v-if="isShowShoppingCartList" class="shopping_cart_list_box">
      <div class="bc" @click.stop="isShowShoppingCartList = false"></div>
      <div class="shopping_cart_list">
        <p class="t">已选商品</p>
        <div class="cart_list">
          <!-- 去重 -->
          <div class="item" v-for="(item, i) in Array.from(new Set(shoppingCart))" :key="i">
            <div class="goods_pic">
              <img :src="item.GoodsPicUrl" alt="" />
            </div>
            <div class="c">
              <p class="name">{{ item.GoodsName }}</p>
              <div class="operation">
                <div class="price">
                  参考价 <span class="q">¥</span>
                  <span class="goods_price">{{ item.GoodsPrice }}</span>
                </div>
                <div class="op">
                  <img class="r" src="@/assets/img/shopImgs/按钮/减.png" @click="reduce(item)" />
                  <span>
                    {{ item.GoodsCount }}
                  </span>
                  <img
                    class="a"
                    src="@/assets/img/shopImgs/按钮/加.png"
                    @click="add(item, $event)"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 底部购物车 -->
    <div class="shopping_cart">
      <div class="cart_box" :style="{ filter: shoppingCart.length ? '' : 'grayscale(100%)' }">
        <div class="info" @click.stop="isShowShoppingCartList = true">
          <div class="img">
            <div v-if="shoppingCart.length" class="quantity">{{ shoppingCart.length }}</div>
            <!-- <img src="@/assets/img/shopImgs/序列帧/17张图.png" /> -->
            <div class="shopping_cart" ref="shoppingCartPic"></div>
          </div>

          <div class="totalPrice">
            <p>参考价:&nbsp;¥{{ totalPrice }}</p>
            <span> 实际价格以跑男购买小票为准 </span>
          </div>
        </div>
        <div class="order_button" @click.stop="">立即下单</div>
      </div>
    </div>

    <!-- 球 -->
    <BallFlag ref="BallFlagRef" />
  </div>
</template>

<script lang="ts">
import { getShopInfo } from "@/api";
import type { GoodsCategoryItem, GoodsItme, ShopInfo } from "@/types/shop";

import BallFlag from "@/components/Shop/BallFlag.vue";

import Vue from "vue";
export default Vue.extend({
  name: "myShop",
  data() {
    return {
      showTips: true,
      shopInfo: {} as ShopInfo["Body"],
      shoppingCart: [] as GoodsItme[],
      timer: [] as number[],
      // 助阵动画定位位置
      positionSpot: [
        0, -60, -120, -180, -240, -300, -360, -420, -480, -540, -600, -660, -720, -780, -840, -900,
        -960
      ],
      isShowShoppingCartList: false
    };
  },
  components: { BallFlag },
  created() {
    getShopInfo().then(res => {
      this.shopInfo = res.Body;
      this.shopInfo.GoodsCategoryList[0].isActive = true;
    });
  },
  computed: {
    // 总价
    totalPrice(): number | string {
      let total: number | string = this.shoppingCart.reduce((pre, cur: GoodsItme) => {
        return pre + cur.GoodsPrice * cur.GoodsCount;
      }, 0);
      total = total === 0 ? "00.00" : total;
      if (total.toString().indexOf(".") === -1) total += ".00";
      return total;
    }
  },
  mounted() {
    // 商品列表添加监听滚动事件
    const gListRef = this.$refs.gList as HTMLElement;
    gListRef.addEventListener("scroll", this.handleGListScrollEvent.bind(this));
  },
  beforeDestroy() {
    const gListRef = this.$refs.gList as HTMLElement;
    gListRef.removeEventListener("scroll", this.handleGListScrollEvent.bind(this), false);
  },
  methods: {
    // 添加到购物车
    add(item: GoodsItme, e: any) {
      item.GoodsCount++;
      this.shoppingCart.push(item);
      this.shoppingCartPlay();
      const rect = e.target.getBoundingClientRect();
      const { top, bottom, left, right } = (
        this.$refs.shoppingCartPic as HTMLElement
      ).getBoundingClientRect();

      // TODO 待优化
      // @ts-ignore
      this.$refs.BallFlagRef.processingPlayback(
        [rect.top, rect.left],
        [right - rect.right, top - rect.top]
      );
    },

    shoppingCartPlay() {
      const shoppingCartRef = this.$refs.shoppingCartPic as HTMLElement;
      if (this.timer.length) {
        return;
      }
      this.timer.push(
        setTimeout(() => {
          this.positionSpot.forEach((item, i) => {
            this.timer.push(
              setTimeout(() => {
                shoppingCartRef.style.backgroundPositionX = `${item}px`;
                if (i === this.positionSpot.length - 1) {
                  this.timer.forEach((item, i) => {
                    clearTimeout(item);
                    this.timer.splice(i, 1);
                  });
                  this.timer = [];
                }
              }, i * 25)
            );
          });
        }, 200)
      );
    },
    // 减去购物车中的商品
    reduce(item: GoodsItme) {
      if (item.GoodsCount > 0) {
        item.GoodsCount--;
        this.shoppingCart.splice(this.shoppingCart.indexOf(item), 1);
      }
    },
    calculationCount(item: GoodsCategoryItem) {
      let n = 0;
      item.GoodsList.forEach(item => {
        if (item.GoodsCount > 0) {
          n++;
        }
      });
      return n;
    },
    // 选择商品分类
    choice(item: GoodsCategoryItem) {
      const gListRef = this.$refs.gList as HTMLElement;
      // @ts-ignore
      let refItem = this.$refs[item.CategoryId][0];
      let realTop = refItem.offsetTop + 5;
      realTop += refItem.offsetParent.offsetTop;
      if (realTop > 0) gListRef.scrollTo({ top: realTop < 10 ? 0 : realTop, behavior: "smooth" });
    },
    // 商品列表滚动事件监听
    handleGListScrollEvent(e: any) {
      window.requestAnimationFrame(() => {
        // 处理选中
        const handleActive = (item: GoodsCategoryItem, i: number) => {
          this.shopInfo.GoodsCategoryList.forEach(item => (item.isActive = false));
          // TODO
          item.isActive = true;
          this.$set(this.shopInfo.GoodsCategoryList, i, item);
          // this.$set(this.shopInfo.GoodsCategoryList[i], "isActive", true);
        };

        this.shopInfo.GoodsCategoryList.forEach((item, i) => {
          // @ts-ignore
          let refItem = this.$refs[item.CategoryId][0];
          if (e.target.scrollTop >= refItem.offsetTop) {
            handleActive(item, i);
            return;
          }
        });
      });
    }
  }
});
</script>

<style lang="less" scoped>
.my_shop {
  background: #fff;
  width: 100%;
  position: relative;
  max-width: 100vw;
  overflow: hidden;
  // 文字超出省略号不换号
  .text_ell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  // 顶部提示
  .top_tips {
    width: 100%;
    font-size: 13px;
    padding: 11px;
    box-sizing: border-box;
    background: #ffefdc;
    position: relative;

    p {
      color: #f55e21;
      font-weight: 400;
    }
    img {
      position: absolute;
      width: 13px;
      right: 10px;
      top: 10px;
    }
  }
  // 店铺资料信息
  .shop_info {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    .shop_profile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left_box {
        padding-right: 30px;
        max-width: 80%;
        .name {
          font-size: 20px;
          font-weight: 500;
          color: #1a1a1a;
          line-height: 28px;
          padding: 3px 0;
        }
        .details {
          span {
            padding-right: 10px;
            font-size: 12px;
            font-weight: 400;
            color: #333333;
          }
        }
      }

      .pic {
        img {
          width: 60px;
          height: 60px;
          overflow: hidden;
          border-radius: 5px;
        }
      }
    }
    .business_hours {
      padding-top: 7px;
      color: #999999;
      font-size: 10px;
      font-weight: 400;
      line-height: 17px;
    }
    .explain {
      width: 100%;
      padding-top: 10px;
      box-sizing: border-box;
      img {
        width: 100%;
      }
    }
  }
  .bouble {
    width: 100%;
    height: 0;
  }
  // 商品列表
  .goods_list {
    height: 100vh;
    width: 100%;
    position: relative;

    .list_box {
      display: flex;
      flex-wrap: nowrap;
      .left_c {
        width: 100px;
        height: 100vh;
        overflow: scroll;

        box-sizing: border-box;
        text-align: center;
        background: #f5f5f5;

        padding-bottom: 100px;
        box-sizing: border-box;
        .left_item {
          padding: 15px;
          width: 100%;
          box-sizing: border-box;
          text-align: center;
          position: relative;
          .name {
            text-align: center;
            font-size: 12px;
            line-height: 17px;
            font-weight: 400;
            color: #999999;
          }
          .count {
            min-width: 16px;
            height: 16px;
            padding: 0 3px;
            line-height: 16px;
            box-sizing: border-box;
            border-radius: 16px;
            background: #fa5150;
            position: absolute;
            right: 5px;
            top: 5px;
            font-weight: 400;
            font-size: 11px;
            color: #ffffff;
          }
        }
        .active {
          font-size: 12px;
          font-weight: 500;
          color: #333333;
          background: #fff;
          .name {
            text-align: center;
            font-size: 12px;
            line-height: 17px;
            font-weight: 500;
            color: #333333;
          }
        }
      }
      .right_c {
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: scroll;

        padding-bottom: 100px;
        box-sizing: border-box;

        .right_item {
          display: flex;
          padding: 10px;
          box-sizing: border-box;
          .goods_pic {
            img {
              width: 95px;
              height: 95px;
              object-fit: cover;
              overflow: hidden;
              border-radius: 4px;
              display: block;
            }
          }
          .goods_info {
            padding-left: 10px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            .goods_name {
              font-size: 14px;
              font-weight: 400;
              color: #1a1a1a;
              line-height: 20px;
              max-width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
            }
          }
        }
      }
    }
  }

  .operation {
    padding-bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .price {
      font-weight: 400;
      color: #666666;
      font-size: 12px;
      .q {
        font-size: 12px;
        font-weight: 500;
        color: #fa5150;
        padding-right: 3px;
        display: inline-block;
      }
      .goods_price {
        font-size: 18px;
        font-weight: 500;
        color: #fa5150;
        line-height: 25px;
      }
    }
    .op {
      vertical-align: middle;
      text-align: center;
      span {
        vertical-align: middle;
        font-size: 13px;
        font-weight: 400;
        color: #999999;
        line-height: 18px;
        min-width: 18px;
        display: inline-block;
      }
      .r,
      .a {
        vertical-align: middle;
        width: 20px;
        padding: 3px;
      }
      .r {
        padding-left: 15px;
      }
      .a {
        padding-right: 15px;
      }
    }
  }

  // 购物车列表
  .shopping_cart_list_box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    .bc {
      top: 0;
      left: 0;
      position: fixed;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.5);
    }

    .shopping_cart_list {
      position: fixed;
      z-index: 11;
      width: 100%;
      bottom: 0;
      left: 0;
      min-height: 50px;
      max-height: 500px;
      overflow: auto;
      border-radius: 10px 10px 0px 0px;
      background-color: #fff;
      animation: sport 0.3s;
      transition: all 0.3s ease;
      transform: translateY(0%);
      padding: 14px;
      padding-bottom: 100px;
      box-sizing: border-box;
      .t {
        font-size: 13px;
        font-weight: 500;
        color: #666666;
        line-height: 19px;
      }
      .cart_list {
        width: 100%;

        .item {
          width: 100%;
          padding: 8px 0;
          display: flex;
          .goods_pic {
            img {
              display: block;
              border-radius: 5px;
              overflow: hidden;
              height: 60px;
              width: 60px;
              object-fit: cover;
            }
          }
          .c {
            padding-left: 10px;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            .name {
              width: 100%;
              font-size: 14px;
              font-weight: 400;
              color: #1a1a1a;
              line-height: 20px;
            }
          }
        }
      }
    }
    @keyframes sport {
      0% {
        transform: translateY(100%);
      }
      100% {
        transform: translateY(0%);
      }
    }
  }

  // 底部购物车
  .shopping_cart {
    position: fixed;
    z-index: 20;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;

    .cart_box {
      height: 50px;
      border-radius: 50px;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
      background: #333333;
      position: relative;
      width: 100%;

      .info {
        display: flex;
        height: 100%;
        align-items: center;
        .img {
          width: 60px;
          height: 60px;
          position: relative;
          img {
            width: 65px;
            display: block;
            position: relative;
            top: -5px;
          }
          .shopping_cart {
            width: 60px;
            height: 60px;
            overflow: hidden;
            position: relative;
            top: -5px;
            background-image: url("@/assets/img/shopImgs/序列帧/17张/17张图.png");
            background-repeat: no-repeat;
            background-size: auto 60px;
            background-position-x: 0px;
          }
          // 小红点
          .quantity {
            position: absolute;
            right: -3px;
            top: 9px;
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 4px 0px rgba(130, 20, 20, 0.5);
            background: #fa5150;
            height: 18px;
            min-width: 18px;
            padding: 3px;
            box-sizing: border-box;
            border-radius: 18px;
            font-weight: 400;
            font-size: 11px;
            text-align: center;
            // line-height: 16px;
            z-index: 29;
            color: #ffffff;
          }
        }
        .totalPrice {
          padding-left: 8px;
          p {
            font-size: 16px;
            font-weight: 500;
            color: #ffffff;
            text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
            line-height: 20px;
          }
          span {
            line-height: 15px;
            color: #999999;
            font-weight: 400;
            font-size: 11px;
          }
        }
      }

      .order_button {
        background: linear-gradient(90deg, #ff9111 0%, #ff752f 100%);
        border-radius: 0px 50px 50px 0px;
        width: 100px;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;
        height: 100%;
        position: absolute;
        top: 0;
        right: -0.5px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
.prevent {
  overflow: hidden;
  height: 100vh;
}
</style>
