<template>
  <div class="amapShop">
    <!-- 地图容器 -->
    <div id="container" ref="container"></div>
    <div class="Tips">
      <div class="position">
        <img src="@/assets/img/MerchantAnalysis/店铺位置.png" alt="" />
        <span>你店铺所在位置</span>
      </div>
      <div class="order">
        <img src="@/assets/img/MerchantAnalysis/订单位置.png" />
        <span class="t1"> 周边订单聚集点 </span>
        <span class="t2">(5公里范围内)</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AmapShop",
  data() {
    return {
      currentStore: {},
      data: []
    };
  },
  mounted() {},
  methods: {
    aMapInit(current, data) {
      this.currentStore = this.currentStore || current || {};
      data ? (this.data = data) : [];
      const addressLoc = this.currentStore.addressLoc || current.addressLoc;
      if (!addressLoc) return;
      const { lng, lat } = addressLoc;
      const map = new AMap.Map("container", {
        zoom: 16,
        center: [lng, lat],
        resizeEnable: true
      });

      // 添加圆点
      this.data.forEach(item => {
        const { detail } = item || {};
        const { lng, lat } = detail.point;
        const circleMarker = new AMap.CircleMarker({
          center: [lng, lat],
          radius: item.value,
          strokeColor: "white",
          strokeWeight: 2,
          strokeOpacity: 0.5,
          fillColor: "rgba(255, 105, 0, 1)",
          fillOpacity: 0.8,
          zIndex: 10,
          bubble: true,
          cursor: "pointer",
          clickable: true
        });

        circleMarker.on("click", e => {
          console.log(item, "item");
          //构建信息窗体中显示的内容
          let infoStyle = "style='color: #666666; font-weight: 500;float: right;'";
          let info = `
            <div style='font-size: 10px; width:150px; padding-top: 8px'>
              <div>
                <span style='color: #999999;'>地址信息:</span>
                <span ${infoStyle}>${item.address}</span>
              </div>
              <div>
                <span style='color: #999999;'>商家总订单数:</span>
                <span ${infoStyle}>${item.detail.totalCount}单</span>
              </div>
              <div>
                <span style='color: #999999;'>当日订单数:</span>
                <span ${infoStyle}>${item.detail.todayCount}单</span>
              </div>
              <div>
                <span style='color: #999999;'>近3日订单数:</span>
                <span ${infoStyle}>${item.detail.day3Count}单</span>
              </div>
              <div>
                <span style='color: #999999;'>近7日订单数:</span>
                <span ${infoStyle}>${item.detail.day7Count}单</span>
              </div>
              <div>
                <span style='color: #999999;'>近30日订单数:</span>
                <span ${infoStyle}>${item.detail.day30Count}单</span>
              </div>
            </div>
          `;
          let infoWindow = new AMap.InfoWindow({ content: info });
          // 打开事件
          infoWindow.on("open", () => {});
          // 关闭事件
          infoWindow.on("close", () => {});

          infoWindow.open(map, [lng, lat]);
        });
        circleMarker.setMap(map);
      });

      // 以 icon URL 的形式创建一个途经点
      const viaMarker = new AMap.Marker({
        position: new AMap.LngLat(lng, lat),
        // 将一张图片的地址设置为 icon
        icon: new AMap.Icon({
          image: "https://i.ibb.co/1QHWRmV/icon.png",
          // size: new AMap.Size(40, 45), //图标大小
          imageSize: new AMap.Size(40, 40)
        }),
        offset: new AMap.Pixel(-13, -30)
      });

      map.add([viaMarker]);
    }
  }
};
</script>

<style>
.amap-logo {
  display: none;
  opacity: 0;
}
.amap-copyright {
  display: none;
  opacity: 0;
}
</style>

<style lang="less" scoped>
.amapShop {
  width: 100%;
  height: 519px;
  margin-bottom: 90px;
  #container {
    width: 100%;
    height: 519px;
    border-radius: 10px;
  }
  .Tips {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    .position {
      img {
        width: 26px;
        vertical-align: middle;
        padding-right: 5px;
      }

      span {
        vertical-align: middle;
        font-weight: 400;
        font-size: 24px;
        color: #666666;
      }
    }

    .order {
      vertical-align: middle;
      padding-right: 50px;
      img {
        width: 26px;
        vertical-align: middle;
        padding-right: 5px;
      }
      .t1 {
        vertical-align: middle;
        font-size: 24px;
        font-weight: 400;
        color: #666666;
      }
      .t2 {
        vertical-align: middle;
        font-size: 22px;
        font-weight: 400;
        color: #999999;
      }
    }
  }
}
</style>
