<template>
  <div class="empty">
    <img src="@/assets/img/MerchantAnalysis/empty.png" />
    <p>抱歉，暂无数据（数据整合中） 请明日再看~</p>
  </div>
</template>

<script>
export default {};
</script>
<style lang="less" scoped>
.empty {
  text-align: center;
  width: 100%;
  padding: 150px 120px;
  box-sizing: border-box;
  img {
    width: 100%;
  }
  p {
    font-size: 28px;
    font-weight: 400;
    color: #999999;
    line-height: 40px;
  }
}
</style>
