<template>
  <div class="OrderStats">
    <div class="content">
      <p class="title">客户量统计</p>
      <div class="switchView" @click="switchView = !switchView">
        <div v-if="switchView" class="i">
          <img src="@/assets/img/MerchantAnalysis/see地图.png" />
          <span>查看地图</span>
        </div>
        <div v-else class="i">
          <img src="@/assets/img/MerchantAnalysis/see列表.png" />
          <span>查看列表</span>
        </div>
      </div>
      <div v-show="switchView">
        <TabSwitch @switch="switchEvent" />
        <div class="chart" ref="OrderStatsChart" style="width: 100%">
          <!-- 图表 -->
          <template v-if="data.length">
            <canvas
              id="OrderStatscCanvas"
              ref="OrderStatsMyChart"
              width="100%"
              height="270"
            ></canvas>
          </template>
          <Empty v-else />
        </div>
      </div>
      <!-- 地图 -->
      <div v-show="!switchView">
        <AmapShop :data="data" :currentStore="currentStore" ref="AmapRef" />
      </div>

      <!-- 切换店铺 -->
      <div class="switchShop">
        <div class="location">当前定位：{{ currentStore.name }}</div>
        <div class="btn" @click="isShowSwitchShop = true">切换店铺</div>
      </div>
    </div>
    <!-- 切换店铺底部弹窗 -->
    <div v-if="isShowSwitchShop" class="switchShopPopup">
      <div class="bc" @click.stop="isShowSwitchShop = false"></div>
      <div class="switchShopContent">
        <div class="head">
          <div class="c" @click.stop="isShowSwitchShop = false">取消</div>
          <div class="m">我的店铺</div>
          <div class="cm" @click.stop="switchShopConfirm">确认</div>
        </div>
        <div class="shopList">
          <div v-for="(item, i) in shopList" :key="i" class="shopItem">
            <div class="info">
              <div class="craBox">
                <p class="shopName">{{ item.name }}</p>
                <div class="cra" v-if="i === 0">注册地址</div>
              </div>
              <div class="address">金水区金水路曼哈顿广场A区1号楼1-2层9</div>
              <div class="useInfo">{{ item.linkManMobile }} {{ item.linkMan }}</div>
            </div>
            <div @click="selectStore(item)">
              <img
                v-if="item.isDefault"
                class="choice"
                src="@/assets/img/MerchantAnalysis/选中.png"
              />
              <img v-else class="choice" src="@/assets/img/MerchantAnalysis/未选中.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import TabSwitch from "@/components/MerchantAnalysis/TabSwitch.vue";
import AmapShop from "@/components/MerchantAnalysis/AmapShop.vue";
import Empty from "@/components/MerchantAnalysis/Empty.vue";
import { getMyShopInfo, getOrderlist, ShopItemInfo, ShopOrderItem } from "@/api";

// 组件 data 描述
declare interface BaseComponentData {
  isShowSwitchShop: boolean;
  switchView: boolean;
  shopList: ShopItemInfo[];
  /** 当前店铺 */
  currentStore: ShopItemInfo | {};
  data: ShopOrderItem[];
}

export default Vue.extend({
  name: "OrderStats",
  components: { TabSwitch, Empty, AmapShop },
  data(): BaseComponentData {
    return {
      isShowSwitchShop: false,
      switchView: true,
      shopList: [],
      currentStore: {},
      data: []
    };
  },
  watch: {
    switchView(v) {
      setTimeout(() => {
        this.$nextTick(() => {
          this.resizeCanvas();
          // @ts-ignore
          v ? this.drawChart() : this.$refs.AmapRef?.aMapInit(this.currentStore, this.data || []);
        });
      }, 0);
    }
  },
  created() {
    // 获取店铺列表
    this.getShopList();
    // 获取订单统计信息
    this.getOrderStatsInfo();
  },
  mounted() {
    // window.addEventListener("resize", this.resizeCanvas, false);
    this.resizeCanvas();
    this.$nextTick(() => {
      this.drawChart();
    });
  },
  beforeDestroy() {
    // window.removeEventListener("resize", this.resizeCanvas, false);
  },
  methods: {
    getShopList() {
      getMyShopInfo().then(data => {
        this.shopList = data;
        // 获取当前选中的店铺
        data.find(item => {
          if (item.isDefault) {
            this.currentStore = item;
            return true;
          }
        });
      });
    },
    getOrderStatsInfo() {
      getOrderlist().then(data => {
        this.data = data.stats;
        this.$nextTick(() => {
          this.resizeCanvas();
          this.drawChart();
        });
        // @ts-ignore
        this.$refs.AmapRef?.aMapInit(this.currentStore, data.stats);
      });
    },
    // 排序
    bubbleSort(arr: any[]) {
      const len = arr.length;
      if (len < 2) return arr;
      for (let i = 0; i < len; i++) {
        for (let j = 0; j < i; j++) {
          if (arr[j].value > arr[i].value) {
            const tmp = arr[j];
            arr[j] = arr[i];
            arr[i] = tmp;
          }
        }
      }
      return arr;
    },
    // 图表初始化
    drawChart() {
      const canvas = this.$refs?.OrderStatsMyChart as HTMLCanvasElement;
      F2.Global.widthRatio.column = 0.75;
      if (!canvas) return;
      this.$nextTick(() => {
        const chart = new F2.Chart({
          id: "OrderStatscCanvas",
          pixelRatio: window.devicePixelRatio
        });
        chart.source(this.bubbleSort(this.data), { value: { tickCount: 5 } });
        chart.coord({ transposed: true });
        chart.tooltip({
          showItemMarker: false,
          onShow: function onShow(ev: { [x: string]: any }) {
            const items = ev.items;
            items[0].name = null;
            items[0].name = items[0].title;
            items[0].value = items[0].value + "人";
          }
        });

        chart
          .axis("address", {
            line: {
              lineWidth: 1.2, // 设置线的宽度
              stroke: "#999999" // 设置线的颜色
            },
            tickLine: false,
            label: (text: string, index: number, total: number) => {
              const cfg: { [x: string]: any } = {};
              if (text.length > 4) {
                let firstLine = text.substring(0, 4) + "\n";
                let secondLine = text.substring(4, 7);
                cfg.text = firstLine + secondLine;
              }
              return cfg;
            }
          })
          .interval()
          .position("address*value")
          .color("#FF6900")
          .style("年龄段", { radius: () => [0, 4, 4, 0] });

        // 取消 values 轴线显示
        chart.axis("value", { line: { lineWidth: 0 } });

        chart.render();

        // 绘制柱状图文本
        const canvas = chart.get("canvas");
        const group = canvas.addGroup();
        const shapes: { [x: string]: any } = {};
        this.data.forEach(function (obj) {
          const point = chart.getPosition(obj);
          const text = group.addShape("text", {
            attrs: {
              x: point.x - 22,
              y: point.y,
              text: obj.value + "(位)",
              textAlign: "center",
              textBaseline: "middle",
              fill: "#ffffff"
            }
          });
          shapes[obj.address] = text; // 缓存该 shape, 便于后续查找
        });
      });
    },
    // 选择店铺
    selectStore(item: ShopItemInfo) {
      this.shopList.forEach(item => {
        item.isDefault = false;
      });
      item.isDefault = true;
    },
    // 切换店铺
    switchShopConfirm() {
      this.shopList.find(item => {
        if (item.isDefault) {
          this.currentStore = item;
          return true;
        }
      });
      this.isShowSwitchShop = false;
      // @ts-ignore
      this.$refs.AmapRef?.aMapInit(this.currentStore);
    },
    // 时间区间切换
    switchEvent(e: number) {
      console.log(e);
      this.drawChart();
    },
    // 计算宽高
    resizeCanvas() {
      const canvas = this.$refs?.OrderStatsMyChart as HTMLCanvasElement;
      const chart = this.$refs?.OrderStatsChart as HTMLCanvasElement;
      if (canvas && chart) {
        canvas.width = chart?.offsetWidth;
        canvas.height = chart?.offsetHeight;
      }
    }
  }
});
</script>

<style lang="less" scoped>
.OrderStats {
  padding: 24px;
  width: 100%;
  box-sizing: border-box;
  padding-top: 0;

  .content {
    width: 100%;
    background: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    min-height: 100px;
    padding: 28px;
    box-sizing: border-box;
    padding-bottom: 114px;
    position: relative;
    .title {
      padding-top: 20px;
      padding-bottom: 35px;
      font-weight: 500;
      color: #333333;
      line-height: 32px;
      font-size: 32px;
    }
    .switchView {
      position: absolute;
      top: 40px;
      height: 40px;
      right: 33px;
      line-height: 40px;
      .i {
        img {
          width: 30px;
          height: 30px;
          vertical-align: middle;
          padding-right: 10px;
        }
        span {
          vertical-align: middle;
          font-size: 28px;
          font-weight: 500;
          color: #ed722e;
        }
      }
    }

    // 切换店铺
    .switchShop {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 94px;
      padding: 20px;
      border-radius: 0 0 12px 12px;
      box-sizing: border-box;
      align-items: center;
      justify-content: space-between;
      display: flex;
      background: #fffaf6;
      .location {
        font-size: 28px;
        color: #333333;
        font-weight: 400;
        vertical-align: middle;
      }

      .btn {
        width: 168px;
        height: 52px;
        line-height: 52px;
        border-radius: 26px;
        border: 1px solid #ff6900;
        font-weight: 500;
        font-size: 28px;
        color: #ff6900;
        text-align: center;
      }
    }
  }

  .switchShopPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    .bc {
      top: 0;
      left: 0;
      position: fixed;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.4);
      animation: bcsport 0.3s;
      transition: all 0.3s ease;
    }
    .switchShopContent {
      position: fixed;
      z-index: 11;
      width: 100%;
      bottom: 0;
      left: 0;
      min-height: 50px;
      overflow: auto;
      border-radius: 10px 10px 0px 0px;
      background-color: #fff;
      animation: sport 0.3s;
      transition: all 0.3s ease;
      padding-bottom: 70px;
      box-sizing: border-box;

      .head {
        display: flex;
        width: 100%;
        height: 116px;
        border-bottom: 1px solid #e5e5e5;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        box-sizing: border-box;
        .c {
          font-size: 30px;
          font-weight: 400;
          color: #999999;
          line-height: 30px;
          padding: 20px;
        }
        .m {
          font-size: 36px;
          font-weight: 500;
          color: #1a1a1a;
          line-height: 36px;
        }
        .cm {
          padding: 20px;
          font-size: 30px;
          font-weight: 400;
          color: #ff7b03;
          line-height: 30px;
        }
      }
      .shopList {
        padding: 40px 47px;
        padding-top: 0;
        width: 100%;
        box-sizing: border-box;
        .shopItem {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
          padding: 40px 0;

          .info {
            .craBox {
              display: flex;
              .cra {
                margin-left: 25px;
                background: #ff6900;
                border-radius: 4px;
                width: 114px;
                height: 32px;
                line-height: 32px;
                text-align: center;
                font-weight: 400;
                color: #ffffff;
                font-size: 24px;
              }
            }

            .shopName {
              font-weight: 500;
              color: #1a1a1a;
              line-height: 36px;
              font-size: 36px;
              padding-bottom: 20px;
            }
            .address {
              font-weight: 400;
              font-size: 28px;
              color: #333333;
              line-height: 28px;
              padding: 10px 0;
            }
            .useInfo {
              line-height: 28px;
              font-weight: 400;
              font-size: 28px;
              color: #666666;
              padding: 10px 0;
            }
          }
          .choice {
            display: block;
            width: 36px;
            padding: 20px 40px;
          }
        }
        .shopItem:not(:last-child) {
          border-bottom: 1px solid #e5e5e5;
        }
      }
    }
    @keyframes sport {
      0% {
        transform: translateY(100%);
        opacity: 0;
      }
      100% {
        transform: translateY(0%);
        opacity: 1;
      }
    }
    @keyframes bcsport {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
</style>
