<template>
  <div class="TabSwitch">
    <div
      v-for="v in items"
      class="item"
      :class="{ active: v.value === active }"
      :key="v.value"
      @click="handleSwitch(v)"
    >
      {{ v.text }}
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
interface Item {
  text: string;
  value: number;
}
export default Vue.extend({
  name: "TabSwitch",
  data() {
    return {
      active: 0,
      items: [
        {
          text: "近七天",
          value: 0
        },
        {
          text: "近一个月",
          value: 1
        },
        {
          text: "近三个月",
          value: 2
        }
      ]
    };
  },
  methods: {
    handleSwitch(item: Item) {
      this.active = item.value;
      this.$emit("switch", item.value);
    }
  }
});
</script>

<style lang="less" scoped>
.TabSwitch {
  width: 100%;
  background: #f2f2f2;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  box-sizing: border-box;
  .item {
    cursor: pointer;
    flex: 0 33.3%;
    text-align: center;
    color: #333333;
    font-size: 26px;
    font-weight: 400;
    line-height: 37px;
    padding: 8px 0;
  }

  .active {
    background: #ffffff;
    border-radius: 12px;
    font-weight: 500;
  }
}
</style>
