<template>
  <div class="UserStats">
    <div class="content">
      <p class="title">客户量统计</p>
      <TabSwitch @switch="switchEvent" />
      <!-- chart -->
      <div class="chart" ref="chart" v-if="data.length" style="width: 100%">
        <div class="f2-tooltip" ref="f2ToolTip"></div>
        <canvas id="canvas" ref="myChart" width="100%" height="260"></canvas>
      </div>
      <Empty v-else />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import TabSwitch from "@/components/MerchantAnalysis/TabSwitch.vue";
import Empty from "@/components/MerchantAnalysis/Empty.vue";
import { CustomerItem, getCustomerlist } from "@/api";

// 组件 data 描述
interface BaseComponentData {
  data: CustomerItem[];
}

export default Vue.extend({
  name: "UserStats",
  components: { TabSwitch, Empty },
  data(): BaseComponentData {
    return {
      data: []
    };
  },
  created() {
    getCustomerlist().then(data => {
      this.data = data.slice(0, 7);
      this.$nextTick(() => {
        this.resizeCanvas();
        this.drawChart();
      });
    });
  },
  mounted() {
    // window.addEventListener("resize", this.resizeCanvas, false);
    this.resizeCanvas();
    this.$nextTick(() => {
      this.drawChart();
    });
  },
  beforeDestroy() {
    // window.removeEventListener("resize", this.resizeCanvas, false);
  },
  methods: {
    drawChart() {
      const canvas = this.$refs.myChart as HTMLCanvasElement;
      const f2ToolTip = this.$refs.f2ToolTip as HTMLCanvasElement;
      if (!canvas) return;

      const chart = new F2.Chart({ id: "canvas", pixelRatio: window.devicePixelRatio });
      chart.source(this.data);
      chart.tooltip({
        showCrosshairs: true,
        onShow: (ev: { [x: string]: any }) => {
          const items = ev.items;
          items[0].name = null;
          items[0].name = items[0].title;
          items[0].value = items[0].value + "人";
        }
      });

      chart.scale({
        time: { range: [0, 1] },
        value: { tickCount: 5, min: 0 }
      });

      chart.line().position("time*value").color("#FF6900");
      chart.area().position("time*value").color("l(90) 0:#FF8833 1:#f7f7f7");

      // 半径通过传入函数来实现只显示特定的数据点
      chart.point().position("time*value").style("time", {
        stroke: "#FF6900",
        lineWidth: 1,
        fill: "#FFF"
      });

      chart.tooltip({
        alwaysShow: true,
        triggerOff: "touchend",
        triggerOn: ["touchstart", "touchmove"],
        showCrosshairs: true,
        custom: true,
        onChange(ev: { [x: string]: any }) {
          const currentData = ev.items[0];
          f2ToolTip.innerHTML = [
            "<p class='p' style='color:#999999; font-size: 12px;'>" + currentData.title + "</p>",
            `<span class='s' style='color:#666; font-size: 12px;'>客户量 ${currentData.value}</span>`
          ].join("");

          f2ToolTip.style.opacity = "1";
          f2ToolTip.style.left =
            canvas.offsetLeft + currentData.x - f2ToolTip.offsetWidth / 2 + "px";
          f2ToolTip.style.top =
            canvas.offsetTop + currentData.y - f2ToolTip.offsetHeight - 15 + "px";
        },
        onHide() {
          f2ToolTip.style.opacity = "0";
        }
      });

      chart.render();
    },

    switchEvent(e: number) {
      // console.log(e);
      this.drawChart();
    },
    // 计算宽高
    resizeCanvas() {
      const canvas = this.$refs.myChart as HTMLCanvasElement;
      const chart = this.$refs.chart as HTMLCanvasElement;
      if (canvas && chart) {
        canvas.width = chart?.offsetWidth;
        canvas.height = chart?.offsetHeight;
      }
    }
  }
});
</script>

<style lang="less" scoped>
.UserStats {
  padding: 24px;
  width: 100%;
  box-sizing: border-box;
  .content {
    width: 100%;
    background: #ffffff;
    border-radius: 12px;
    min-height: 100px;
    padding: 28px;
    box-sizing: border-box;
    .title {
      padding-top: 20px;
      padding-bottom: 35px;
      font-weight: 500;
      color: #333333;
      line-height: 32px;
      font-size: 32px;
    }
    .chart {
      position: relative;
      .f2-tooltip {
        width: 110px;
        height: 60px;
        background: #ffffff;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.14);
        border-radius: 8px;
        text-align: center;
        padding: 15px;
        box-sizing: border-box;
        opacity: 0;
        position: absolute;
        font-size: 12px;
        line-height: 15px;
      }
      .f2-tooltip:after {
        content: " ";
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 8px solid #fff;
        position: absolute;
        left: 50%;
        margin-left: -6px;
        bottom: -8px;
      }
    }
  }
}
</style>
